section h1 {
    padding-top: 10px;
    color: #ee5757;
    font-size: 35px;
}

#image-profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid antiquewhite;
    margin: 0 auto 30px auto;
}

#form-user {
    width: 80%;
    margin: 0 auto;
    color:antiquewhite;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-row:nth-child(n+1) {
    margin-top: 30px;
}

.form-group {
    width: 100%;
}

.form-group input {
    width: 95%;
    background: #232f3e;
    border: none;
    border-bottom:0.2px solid antiquewhite;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.form-button {
    width: 30%;
    margin: 20px auto;
}

.form-button button {
    width: 100%;
    background: #ee5757;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #232f3e;;
    font-weight: bold;
    cursor: pointer;
}